<!--Button start-->
<tr>
  <td
    class="btn_wrap"
    style="
      text-align: center;
      background-color: #ffffff;
      padding-top: 0;
      padding-right: 50px;
      padding-bottom: 20px;
      padding-left: 50px;
    "
  >
    <table style="border-spacing: 0; text-align: center">
      <!--// Button-->
      <tr>
        <td
          class="btn"
          style="
            text-align: center;
            background-color: #2ebc4f;
            border-radius: 2px;
            padding-top: 15px;
            padding-right: 20px;
            padding-bottom: 15px;
            padding-left: 20px;
          "
        >
          <a
            href="#"
            z
            style="
              color: #ffffff;
              font-size: 16px;
              font-weight: 700;
              text-align: center;
              text-decoration: none;
              display: inline-block;
            "
            >Go to Website</a
          >
        </td>
      </tr>
      <!--Button //-->
    </table>
  </td>
</tr>
<!--Button end-->
